## Deliverable 2. Create a Customer Travel Destinations Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("..\Weather_Database\Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Estrela,BR,-28.0611,-50.9383,73.22,45,50,6.96,scattered clouds
1,1,Mataura,NZ,-46.1927,168.8643,50.49,97,78,2.55,broken clouds
2,2,Roald,NO,62.5833,6.1333,39.33,60,75,14.97,broken clouds
3,3,Avarua,CK,-21.2078,-159.7750,73.45,100,90,2.30,light rain
4,4,Alta Floresta,BR,-9.8756,-56.0861,87.62,66,40,5.75,scattered clouds

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 100

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Estrela,BR,-28.0611,-50.9383,73.22,45,50,6.96,scattered clouds
1,1,Mataura,NZ,-46.1927,168.8643,50.49,97,78,2.55,broken clouds
3,3,Avarua,CK,-21.2078,-159.7750,73.45,100,90,2.30,light rain
4,4,Alta Floresta,BR,-9.8756,-56.0861,87.62,66,40,5.75,scattered clouds
6,6,Port Blair,IN,11.6667,92.7500,79.93,69,49,13.29,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
672,672,Muisne,EC,0.6000,-80.0333,80.71,85,100,7.56,overcast clouds
673,673,Metro,ID,-5.1131,105.3067,74.98,93,96,0.27,overcast clouds
674,674,Bure,ET,10.7000,37.0667,61.18,40,52,5.01,broken clouds
675,675,Fukue,JP,32.6881,128.8419,59.95,58,36,26.57,scattered clouds
678,678,Zaraza,VE,9.3503,-65.3245,92.01,36,24,5.14,few clouds

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                423
City                   423
Country                418
Lat                    423
Lng                    423
Max Temp               423
Humidity               423
Cloudiness             423
Wind Speed             423
Current Description    423
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Estrela,BR,-28.0611,-50.9383,73.22,45,50,6.96,scattered clouds
1,1,Mataura,NZ,-46.1927,168.8643,50.49,97,78,2.55,broken clouds
3,3,Avarua,CK,-21.2078,-159.7750,73.45,100,90,2.30,light rain
4,4,Alta Floresta,BR,-9.8756,-56.0861,87.62,66,40,5.75,scattered clouds
6,6,Port Blair,IN,11.6667,92.7500,79.93,69,49,13.29,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
672,672,Muisne,EC,0.6000,-80.0333,80.71,85,100,7.56,overcast clouds
673,673,Metro,ID,-5.1131,105.3067,74.98,93,96,0.27,overcast clouds
674,674,Bure,ET,10.7000,37.0667,61.18,40,52,5.01,broken clouds
675,675,Fukue,JP,32.6881,128.8419,59.95,58,36,26.57,scattered clouds
678,678,Zaraza,VE,9.3503,-65.3245,92.01,36,24,5.14,few clouds

In [18]:
clean_df.count()

City_ID                418
City                   418
Country                418
Lat                    418
Lng                    418
Max Temp               418
Humidity               418
Cloudiness             418
Wind Speed             418
Current Description    418
dtype: int64

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Estrela,BR,73.22,scattered clouds,-28.0611,-50.9383,
1,Mataura,NZ,50.49,broken clouds,-46.1927,168.8643,
3,Avarua,CK,73.45,light rain,-21.2078,-159.7750,
4,Alta Floresta,BR,87.62,scattered clouds,-9.8756,-56.0861,
6,Port Blair,IN,79.93,scattered clouds,11.6667,92.7500,
8,Meulaboh,ID,78.89,broken clouds,4.1363,96.1285,
9,Bambous Virieux,MU,79.05,light rain,-20.3428,57.7575,
10,Pozo Colorado,PY,95.95,overcast clouds,-23.4923,-58.7972,
12,Ifanadiana,MG,73.22,clear sky,-21.3000,47.6333,
13,Hilo,US,74.93,overcast clouds,19.7297,-155.0900,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params["location"] = f"{lat},{lng}"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f'There is No Hotel in {hotel_df.loc[index,"City"]}')
hotel_df

There is No Hotel in Estrela
There is No Hotel in Ifanadiana
There is No Hotel in Mbekenyera
There is No Hotel in Taoudenni
There is No Hotel in Aripuana
There is No Hotel in Merauke
There is No Hotel in Doka
There is No Hotel in Umm Kaddadah
There is No Hotel in Tsaratanana
There is No Hotel in Birao
There is No Hotel in Tiznit
There is No Hotel in Yaan
There is No Hotel in Qarqin
There is No Hotel in Sociedad
There is No Hotel in Sikasso
There is No Hotel in Tanout
There is No Hotel in Bauchi
There is No Hotel in Kabo
There is No Hotel in Gao
There is No Hotel in Wattegama
There is No Hotel in Gamba
There is No Hotel in Boende
There is No Hotel in Sinop
There is No Hotel in Awjilah
There is No Hotel in Kabalo
There is No Hotel in Tessalit
There is No Hotel in Mushie
There is No Hotel in Mitu
There is No Hotel in Santa Cruz Del Sur
There is No Hotel in Adrar
There is No Hotel in Dunda
There is No Hotel in Marzuq
There is No Hotel in Chihuahua

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Estrela,BR,73.22,scattered clouds,-28.0611,-50.9383,
1,Mataura,NZ,50.49,broken clouds,-46.1927,168.8643,Ellie's Villa
3,Avarua,CK,73.45,light rain,-21.2078,-159.7750,Paradise Inn
4,Alta Floresta,BR,87.62,scattered clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
6,Port Blair,IN,79.93,scattered clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
...,...,...,...,...,...,...,...
672,Muisne,EC,80.71,overcast clouds,0.6000,-80.0333,Quinta Samay
673,Metro,ID,74.98,overcast clouds,-5.1131,105.3067,OYO 3177 Wisma Lintang
674,Bure,ET,61.18,broken clouds,10.7000,37.0667,Holiday
675,Fukue,JP,59.95,scattered clouds,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
678,Zaraza,VE,92.01,few clouds,9.3503,-65.3245,Hotel Zaraza

In [21]:
# 7. Drop the rows where there is no Hotel Name.
nan_value=float("NaN")
hotel_df.replace("",nan_value,inplace=True)
clean_hotel_df=hotel_df.dropna(subset=["Hotel Name"])
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mataura,NZ,50.49,broken clouds,-46.1927,168.8643,Ellie's Villa
3,Avarua,CK,73.45,light rain,-21.2078,-159.7750,Paradise Inn
4,Alta Floresta,BR,87.62,scattered clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
6,Port Blair,IN,79.93,scattered clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
8,Meulaboh,ID,78.89,broken clouds,4.1363,96.1285,Kost Pria
...,...,...,...,...,...,...,...
672,Muisne,EC,80.71,overcast clouds,0.6000,-80.0333,Quinta Samay
673,Metro,ID,74.98,overcast clouds,-5.1131,105.3067,OYO 3177 Wisma Lintang
674,Bure,ET,61.18,broken clouds,10.7000,37.0667,Holiday
675,Fukue,JP,59.95,scattered clouds,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
678,Zaraza,VE,92.01,few clouds,9.3503,-65.3245,Hotel Zaraza

In [22]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))